/* Page Settings */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: coolvetica;
}
@font-face{
  font-family: coolvetica;
  src: url(coolvetica.otf);
}
.bgc{
  background-color: #E2EAFC;
}

/* Navbars */
.navs{
  background-color: #ABC4FF;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  box-shadow: 0px 5px lightgrey;
}
/* End Navbars */

/* Scroll & Section Setting */
section{
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerMain{
  scroll-snap-type: y mandatory;
  overflow: scroll;
  height: 100vh;
}
/* Scroll & Section Setting */

/* Section1 */
.section1>.container>p{
  font-size: 5vh;
  padding: 0;
  margin: 0;
  position: relative;
  bottom: 50px;
}
/* End Section1 */

/* Section2 */
.flowchart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    position: relative;
    bottom: 80px;
}

.flowchart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transform: translateX(-5%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.box {
    width: 20vw;
    padding: 5px;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 5px 0px 5px;
}

.line {
    width: 2px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.branch{
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  width: 21vw;
  height: 15px;
  margin-top: 8px;
  margin-bottom: -10px;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transform: translateY(50%);
  transform: translateX(-5%);
}

.branch.visible{
  opacity: 1;
  transform: translateY(0);
}

.flowchart-item.visible {
    opacity: 1;
    transform: translateY(0);
}
/* End Section2 */

/* Section 3 */
.jadwalTitle{
  position: relative;
  top: 22px;
}
.jadwalTitle>a{
  text-decoration: none;
  color: black;
}
#tanggal{
  padding-bottom: 15px;
}

#jadwalPiket{
  margin: 30vw;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
#slotJadwal{
  border-top: 1px solid grey;
  padding-top: 10px;
}
#slotDapiket{
  border-top: 1px solid grey;
  padding-top: 10px;
}
.col-3>p{
  background-color: beige;
  border-radius: 50px;
}
.col-6>p{
  background-color: lightgreen;
  border-radius: 50px;
}
.hideContent {
  opacity: 0;
  transition: opacity 1s ease, height 1s ease;
  height: 0;
  overflow: hidden;
}
.show {
  opacity: 1;
  height: auto;
}
/* End Section 3 */

/* Section 4 */
.section4{
  font-size: 3vw;
}
/* End Section 4  */

/* Untuk Mengatur Di Screen Mobile */
@media only screen and (max-width: 900px){
  .flowchart-item{
    font-size: 3.5vw;
  }
  .box{
    width: 45vw;
  }
  .branch{
    width: 48vw;
    height: 15px;
    margin-top: 8px;
  }
  #jadwalPiket{
  margin: 20px;
  }
}
/* End Line */

/* Untuk Tablet Nexus Gajelas */
@media only screen and (min-width: 1000px, max-width: 2000px){
  .flowchart-item{
    font-size: 3.7vw;
  }
  .box{
    width: 46vw;
  }
  .branch{
    width: 47vw;
    height: 15px;
    margin-top: 8px;
  }
  #jadwalPiket{
  margin: 20vw;
  }
}
/* End Line */
